In [2]:
import pandas as pd

In [53]:
LINKS = ["mmz4281/2223/E0.csv",
 "mmz4281/2122/E0.csv",
 "mmz4281/2021/E0.csv",
 "mmz4281/1920/E0.csv",
 "mmz4281/1819/E0.csv",
 "mmz4281/1718/E0.csv",
 "mmz4281/1617/E0.csv",
 "mmz4281/1516/E0.csv",
 "mmz4281/1415/E0.csv",
 "mmz4281/1314/E0.csv",
 "mmz4281/1213/E0.csv",
 "mmz4281/1112/E0.csv",
 "mmz4281/1011/E0.csv",
 "mmz4281/0910/E0.csv",
 "mmz4281/0809/E0.csv",
 "mmz4281/0708/E0.csv",
 "mmz4281/0607/E0.csv",
 "mmz4281/0506/E0.csv"]


def grab_epl_data():
    df = pd.DataFrame()
    for link in LINKS:
        df = pd.concat([df, pd.read_csv(f"https://www.football-data.co.uk/{link}")]).reset_index(drop=True)
    return df

In [35]:
def get_odds_final(df):
    df_odds = df[["B365H", "B365D", "B365A", "BWH", "BWD", "BWA", "IWH", "IWD",\
    "IWA", "PSH", "PSD", "PSA", "WHH", "WHD", "WHA", "VCH", "VCD", "VCA",]]
    df_odds["AHO"] = (df_odds["B365H"] + df_odds["BWH"] + df_odds["IWH"] + df_odds["WHH"] + df_odds["VCH"])/5
    df_odds["AAO"] = (df_odds["B365A"] + df_odds["BWA"] + df_odds["IWA"] + df_odds["WHA"] + df_odds["VCA"])/5
    print(df_odds.shape, df_odds.shape)
    df_odds = df_odds[["AAO", "AHO"]]
    print(df_odds.shape)
    return df_odds

In [38]:
def stats_features(df):
    stat_cols = ['AC', 'AF', 'AR', 'AS', 'AST', 'AY', 'HC', 'HF', 'HR', 'HS', 'HST', 'HY', 'margin']
    df['margin'] = df['FTHG'] - df['FTAG']
    df_stats = df[stat_cols]
    # df_stats = df_stats.dropna()
    df_stats['THC'] = df_stats['HY'] + df_stats['HR']
    df_stats['TAC'] = df_stats['AY'] + df_stats['AR']
    final_cols = ['AST', 'HST', 'HC', 'AC', 'THC', 'TAC', 'margin']
    df_final = df_stats[final_cols]
    
    return df_final

In [54]:
df = grab_epl_data()

In [55]:
df

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,SJA,GBH,GBD,GBA,BSH,BSD,BSA,SBH,SBD,SBA
0,E0,05/08/2022,20:00,Crystal Palace,Arsenal,0.0,2.0,A,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E0,06/08/2022,12:30,Fulham,Liverpool,2.0,2.0,D,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E0,06/08/2022,15:00,Bournemouth,Aston Villa,2.0,0.0,H,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E0,06/08/2022,15:00,Leeds,Wolves,2.0,1.0,H,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E0,06/08/2022,15:00,Newcastle,Nott'm Forest,2.0,0.0,H,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6707,E0,07/05/06,NaN,Fulham,Middlesbrough,1.0,0.0,H,0.0,0.0,...,4.33,1.7,3.5,4.80,NaN,NaN,NaN,1.7,3.40,5.00
6708,E0,07/05/06,NaN,Man United,Charlton,4.0,0.0,H,3.0,0.0,...,10.00,1.2,6.0,13.00,NaN,NaN,NaN,1.2,5.75,13.00
6709,E0,07/05/06,NaN,Newcastle,Chelsea,1.0,0.0,H,0.0,0.0,...,2.25,2.9,3.0,2.50,NaN,NaN,NaN,2.8,3.25,2.40
6710,E0,07/05/06,NaN,Portsmouth,Liverpool,1.0,3.0,A,0.0,0.0,...,1.67,5.3,3.5,1.65,NaN,NaN,NaN,5.0,3.80,1.62
6711,E0,07/05/06,NaN,West Ham,Tottenham,2.0,1.0,H,1.0,1.0,...,1.73,4.0,3.5,1.83,NaN,NaN,NaN,4.2,3.50,1.80

In [56]:
df_stats = stats_features(df)

/var/folders/40/cvkvchzx1yz2p6bj9nt8x83h0000gn/T/ipykernel_8134/3406050926.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_stats['THC'] = df_stats['HY'] + df_stats['HR']
/var/folders/40/cvkvchzx1yz2p6bj9nt8x83h0000gn/T/ipykernel_8134/3406050926.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_stats['TAC'] = df_stats['AY'] + df_stats['AR']

In [57]:
df_odds = get_odds_final(df)

(6712, 20) (6712, 20)
(6712, 2)

/var/folders/40/cvkvchzx1yz2p6bj9nt8x83h0000gn/T/ipykernel_8134/2272380177.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_odds["AHO"] = (df_odds["B365H"] + df_odds["BWH"] + df_odds["IWH"] + df_odds["WHH"] + df_odds["VCH"])/5
/var/folders/40/cvkvchzx1yz2p6bj9nt8x83h0000gn/T/ipykernel_8134/2272380177.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_odds["AAO"] = (df_odds["B365A"] + df_odds["BWA"] + df_odds["IWA"] + df_odds["WHA"] + df_odds["VCA"])/5

In [58]:
df_odds

         AAO     AHO
0      1.854   4.366
1      1.264  11.600
2      2.020   3.730
3      3.120   2.280
4      5.400   1.650
...      ...     ...
6707   4.840   1.674
6708  12.000   1.200
6709   2.360   2.820
6710   1.586   4.870
6711   1.734   4.160

[6712 rows x 2 columns]

In [59]:
df_odds.shape

(6712, 2)

In [60]:
df_stats

      AST   HST    HC   AC  THC  TAC  margin
0     2.0   2.0   3.0  5.0  1.0  2.0    -2.0
1     4.0   3.0   4.0  4.0  2.0  0.0     0.0
2     2.0   3.0   5.0  5.0  3.0  3.0     2.0
3     6.0   4.0   6.0  4.0  2.0  0.0     1.0
4     0.0  10.0  11.0  1.0  0.0  3.0     2.0
...   ...   ...   ...  ...  ...  ...     ...
6707  3.0   3.0   8.0  4.0  0.0  1.0     1.0
6708  3.0  11.0   8.0  2.0  1.0  0.0     4.0
6709  5.0   8.0   3.0  7.0  5.0  2.0     1.0
6710  4.0   4.0   5.0  6.0  1.0  0.0    -2.0
6711  6.0   7.0  11.0  4.0  1.0  0.0     1.0

[6712 rows x 7 columns]

In [61]:
df_final = df_odds.join(df_stats)

In [62]:
df_final

         AAO     AHO  AST   HST    HC   AC  THC  TAC  margin
0      1.854   4.366  2.0   2.0   3.0  5.0  1.0  2.0    -2.0
1      1.264  11.600  4.0   3.0   4.0  4.0  2.0  0.0     0.0
2      2.020   3.730  2.0   3.0   5.0  5.0  3.0  3.0     2.0
3      3.120   2.280  6.0   4.0   6.0  4.0  2.0  0.0     1.0
4      5.400   1.650  0.0  10.0  11.0  1.0  0.0  3.0     2.0
...      ...     ...  ...   ...   ...  ...  ...  ...     ...
6707   4.840   1.674  3.0   3.0   8.0  4.0  0.0  1.0     1.0
6708  12.000   1.200  3.0  11.0   8.0  2.0  1.0  0.0     4.0
6709   2.360   2.820  5.0   8.0   3.0  7.0  5.0  2.0     1.0
6710   1.586   4.870  4.0   4.0   5.0  6.0  1.0  0.0    -2.0
6711   1.734   4.160  6.0   7.0  11.0  4.0  1.0  0.0     1.0

[6712 rows x 9 columns]

In [48]:
df

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,GBH,GBD,GBA,BSH,BSD,BSA,SBH,SBD,SBA,margin
0,E0,05/08/2022,20:00,Crystal Palace,Arsenal,0.0,2.0,A,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2.0
1,E0,06/08/2022,12:30,Fulham,Liverpool,2.0,2.0,D,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,E0,06/08/2022,15:00,Bournemouth,Aston Villa,2.0,0.0,H,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
3,E0,06/08/2022,15:00,Leeds,Wolves,2.0,1.0,H,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
4,E0,06/08/2022,15:00,Newcastle,Nott'm Forest,2.0,0.0,H,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,07/05/06,NaN,Fulham,Middlesbrough,1.0,0.0,H,0.0,0.0,...,1.7,3.5,4.80,NaN,NaN,NaN,1.7,3.40,5.00,1.0
376,E0,07/05/06,NaN,Man United,Charlton,4.0,0.0,H,3.0,0.0,...,1.2,6.0,13.00,NaN,NaN,NaN,1.2,5.75,13.00,4.0
377,E0,07/05/06,NaN,Newcastle,Chelsea,1.0,0.0,H,0.0,0.0,...,2.9,3.0,2.50,NaN,NaN,NaN,2.8,3.25,2.40,1.0
378,E0,07/05/06,NaN,Portsmouth,Liverpool,1.0,3.0,A,0.0,0.0,...,5.3,3.5,1.65,NaN,NaN,NaN,5.0,3.80,1.62,-2.0
379,E0,07/05/06,NaN,West Ham,Tottenham,2.0,1.0,H,1.0,1.0,...,4.0,3.5,1.83,NaN,NaN,NaN,4.2,3.50,1.80,1.0